{% extends '../Basic/index.html' %}
{% block slider %}
{% endblock %}
{% block content %}
<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="boxed-section request-form">
                    <h2 class="section-title text-center">Add Task</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label for="uname">TITLE:</label>
                            <div class="control"><input type="text" name="title" id="title" value="{{ task.title }}" required></div>
                        </div>
                        <div class="field">
                            <label for="uname">Description</label>
                            <div class="control"><textarea name="description" id="des">{{ task.description }}</textarea></div>
                        </div>
                        <div class="field">
                            <label for="interest">Assign To</label>
                            <div class="control">
                                <select name="assigned_to" id="interest">
                                    <option value=""></option>
                                    {% for user in users %}
                                        {% if user == task.assigned_to %}
                                            <option value="{{ user.username }}" selected>{{ user.username }}</option>
                                        {% else %}
                                            <option value="{{ user.username }}">{{ user.username }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="uname">Priority:</label>
                            <div class="control"><input type="number" name="priority" id="priority" value="{{ task.priority }}">
                            </div>
                        </div>

                        <div class="field no-label">
                            <div class="control">
                                {% if task %}
                                    <input type="submit" class="button" value="Update Task">
                                {% else %}
                                    <input type="submit" class="button" value="Add Task">
                                {% endif %}

                                {% if success %}
                                    {% if task %}
                                        <p>Task updated</p>
                                    {% else %}
                                        <p>Task Added</p>
                                    {% endif %}
                                {% elif error %}
                                    <p>{{ error }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
           
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>
{% endblock %}